.choose_fridge_section {
  min-height: 100vh;
  background-color: brown;
  @include flexCenter(column);
  padding: 1em;
  .fridge_body {
    margin-top: 100px;
    $fridge_width: 400px;
    width: $fridge_width;
    height: auto;
    // background-color: blueviolet;
    display: flex;
    flex-direction: column;
    // gap: 10px;
    $border_radius: 0px;
    $fridge_side_border: 2px;
    $fridge_upper_border: 2px;
    border-radius: $border_radius;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    position: relative;

    &:hover {
      .upper_body {
        .middle {
        }
        .left_body {
          transition: 700ms;
          transform: perspective(2000px);
          transform: rotateY(-180deg);
          border-top: $fridge_side_border solid black;
          border-bottom: $fridge_side_border solid black;
          margin-top: -2px;
          .left {
            // display: flex;
            transition: 700ms;
            opacity: 1;
          }
        }
        .right_body {
          transition: 700ms;
          transform: perspective(2000px);
          transform: rotateY(180deg);
          border-top: $fridge_side_border solid black;
          border-bottom: $fridge_side_border solid black;
          margin-top: -2px;
          .right {
            display: flex;
            transition: 700ms;
            opacity: 1;
          }
        }
      }
      .down_body {
        transition: 700ms;
        transform: perspective(2000px);
        transform: rotateY(100deg);
        &::after {
          transition: 700ms;
          opacity: 1;
        }

        &::before {
          opacity: 0;
          transition: 700ms;
        }
      }
    }
    .upper_body {
      height: 500px;
      background-color: blueviolet;
      display: flex;
      //   gap: 1px;
      border-top-right-radius: $border_radius;
      border-top-left-radius: $border_radius;

      border: $fridge_upper_border solid black;
      border-left: transparent;
      border-right: transparent;

      .middle {
        background-color: chocolate;
        width: $fridge_width;
        height: 500px;
        position: absolute;
        $middle_section_height: 62.5px;
        .middle_ {
          position: absolute;
          //   background-color: red;
          height: $middle_section_height;
          width: 100%;
          border-bottom: $fridge_side_border solid black;
          &::before {
            content: "";
            position: absolute;
            width: 98%;
            height: 60%;
            background-color: rgba(0, 0, 0, 0.884);
            bottom: 0;
            right: 1%;
            transform-style: preserve-3d;
            transform: perspective(1000px) rotateX(50deg) translateY(12px);
          }
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 70%;
            background-color: rgba(0, 0, 0, 0.884);
            top: 0;
            left: 5px;
          }
          img{
            // width: 60px;
            // height: 60px;
            object-fit: contain;
            position: absolute;
            bottom: 0;
            // width: 15%;
            // aspect-ratio: 3/2;
            cursor: pointer;
          }
          .right_side_line {
            position: absolute;
            width: 2px;
            height: 70%;
            background-color: rgba(0, 0, 0, 0.884);
            top: 0;
            right: 5px;
          }
        }
        &_1 {
          //   background-color: blue;
          top: 0;
        }
        &_2 {
          //   background-color: blue;
          top: calc($middle_section_height * 1);
        }
        &_3 {
          //   background-color: blue;
          top: calc($middle_section_height * 2);
        }
        &_4 {
          //   background-color: blue;
          top: calc($middle_section_height * 3);
        }
        &_5 {
          //   background-color: blue;
          top: calc($middle_section_height * 4);
        }
        &_6 {
          //   background-color: blue;
          top: calc($middle_section_height * 5);
        }
        &_7 {
          //   background-color: blue;
          top: calc($middle_section_height * 6);
        }
        &_8 {
          //   background-color: blue;
          top: calc($middle_section_height * 7);
        }
        &_9 {
          //   background-color: blue;
          top: calc($middle_section_height * 8);
        }
        &_10 {
          // background-color: blue;
          top: calc($middle_section_height * 9);
          border-color: red;
        }
      }
      .left_body {
        position: relative;
        width: 50%;
        height: 500px;
        background-color: $fridge_color;
        border-top-left-radius: $border_radius;
        transform-style: preserve-3d;
        transform: perspective(2000px);
        transition: 700ms;
        transform-origin: left;
        z-index: 3;
        left: 0;
        border: $fridge_side_border solid black;
        border-top: transparent;
        border-bottom: transparent;

        &::before {
          content: "";
          width: 10px;
          height: 300px;
          background-color: black;
          position: absolute;
          right: 20px;
          top: calc(50% - 150px);
        }
        .left {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: cadetblue;
          // display: none;
          opacity: 0;
          transition: 700ms;
          $left_section_hight: 83.3px;
          .left_ {
            position: absolute;
            //   background-color: red;
            height: $left_section_hight;
            width: 100%;
            border-bottom: $fridge_side_border solid black;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 40%;
              background-color: rgba(0, 0, 0, 0.568);
              bottom: 0;
            }
          }
          &_1 {
            //   background-color: blue;
            top: 0;
          }
          &_2 {
            //   background-color: blue;
            top: calc($left_section_hight * 1);
          }
          &_3 {
            //   background-color: blue;
            top: calc($left_section_hight * 2);
          }
          &_4 {
            //   background-color: blue;
            top: calc($left_section_hight * 3);
          }
          &_5 {
            //   background-color: blue;
            top: calc($left_section_hight * 4);
          }
          &_6 {
            //   background-color: blue;
            top: calc($left_section_hight * 5);
          }
          &_7 {
            //   background-color: blue;
            top: calc($left_section_hight * 6);
          }
          &_8 {
            //   background-color: blue;
            top: calc($left_section_hight * 7);
          }
          &_9 {
            //   background-color: blue;
            top: calc($left_section_hight * 8);
          }
          &_10 {
            // background-color: blue;
            top: calc($left_section_hight * 9);
            border-color: red;
          }
        }
      }
      .right_body {
        width: 50%;
        height: 500px;
        background-color: $fridge_color;
        position: relative;
        border-top-right-radius: $border_radius;
        transform-style: preserve-3d;
        transform: perspective(2000px);
        transition: 700ms;
        transform-origin: right;
        position: relative;
        right: 0;
        border: $fridge_side_border solid black;
        border-top: transparent;
        border-bottom: transparent;

        &::before {
          content: "";
          width: 10px;
          height: 300px;
          background-color: black;
          position: absolute;
          left: 20px;
          top: calc(50% - 150px);
        }
        .right {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: cadetblue;
          // display: none;
          opacity: 0;
          transition: 700ms;
          $right_section_hight: 83.3px;
          .right_ {
            position: absolute;
            //   background-color: red;
            height: $right_section_hight;
            width: 100%;
            border-bottom: $fridge_side_border solid black;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 40%;
              background-color: rgba(0, 0, 0, 0.568);
              bottom: 0;
            }
          }
          &_1 {
            //   background-color: blue;
            top: 0;
          }
          &_2 {
            //   background-color: blue;
            top: calc($right_section_hight * 1);
          }
          &_3 {
            //   background-color: blue;
            top: calc($right_section_hight * 2);
          }
          &_4 {
            //   background-color: blue;
            top: calc($right_section_hight * 3);
          }
          &_5 {
            //   background-color: blue;
            top: calc($right_section_hight * 4);
          }
          &_6 {
            //   background-color: blue;
            top: calc($right_section_hight * 5);
          }
          &_7 {
            //   background-color: blue;
            top: calc($right_section_hight * 6);
          }
          &_8 {
            //   background-color: blue;
            top: calc($right_section_hight * 7);
          }
          &_9 {
            //   background-color: blue;
            top: calc($right_section_hight * 8);
          }
          &_10 {
            // background-color: blue;
            top: calc($right_section_hight * 9);
            border-color: red;
          }
        }
      }
    }
    .border {
      height: 10px;
      width: 90%;
      margin: 0 auto;
      background-color: black;
      border-left: $fridge_upper_border solid black;
      border-right: $fridge_upper_border solid black;
    }
    .down_body {
      height: 300px;
      background-color: $fridge_color;
      //   position: relative;
      border-bottom-left-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
      border: $fridge_upper_border solid black;
      transform-style: preserve-3d;
      transform: perspective(2000px);
      transition: 700ms;
      transform-origin: right;
      z-index: 3;
      @include flexCenter(row);

      &::before {
        content: "";
        width: 10px;
        height: 200px;
        background-color: black;
        position: absolute;
        // left: calc(50% - 25px);
        // top: 20px;
        left: 20px;
        top: calc(50% - 100px);
      }
      &::after {
        content: "";
        width: 80%;
        height: 80%;
        background-color: $fridge_color;
        position: absolute;
        transition: 700ms;
        border: 1px solid black;
        opacity: 0;
      }
    }
    .freezer {
      height: 300px;
      background-color: forestgreen;
      position: absolute;
      bottom: 0;
      border: $fridge_upper_border solid black;
      width: calc($fridge_width - 2px);
      border-right: none;
      $freezer_section_height: 100px;
      .freezer_ {
        position: absolute;
        //   background-color: red;
        height: $freezer_section_height;
        width: 100%;
        border-bottom: $fridge_side_border solid black;
        &::before {
          content: "";
          position: absolute;
          width: 96.5%;
          height: 60%;
          background-color: rgba(0, 0, 0, 0.884);
          bottom: 0;
          right: 1.7%;
          transform-style: preserve-3d;
          transform: perspective(1000px) rotateX(50deg) translateY(15px);
        }
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 63%;
          background-color: rgba(0, 0, 0, 0.884);
          top: 0;
          left: 9px;
        }
        .right_side_line {
          position: absolute;
          width: 2px;
          height: 63%;
          background-color: rgba(0, 0, 0, 0.884);
          top: 0;
          right: 9px;
        }
      }
      &_1 {
        //   background-color: blue;
        top: 0;
      }
      &_2 {
        //   background-color: blue;
        top: calc($freezer_section_height * 1);
      }
      &_3 {
        //   background-color: blue;
        top: calc($freezer_section_height * 2);
      }
      &_4 {
        //   background-color: blue;
        top: calc($freezer_section_height * 3);
      }
    }
  }
}
