.sidebar_ingredient_box {
  height: 250px;
  background-color: $dark_blue;
  display: flex;
  flex-direction: column;
  border-radius: 6px;

  header {
    min-height: 50px;
    display: flex;
    padding: 10px;

    .image {
      width: 50px;
      height: 50px;
    }
    .information {
      height: 50px;
      width: 100%;
      padding-left: 5px;
      .up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          @include font_noto;
          letter-spacing: 1px;
          color: $light_white;
        }
        button {
          @include flexCenter(row);
          cursor: pointer;
          width: fit-content;
          height: fit-content;
          border: none;
          background: none;
          div {
            width: 8px;
            height: 8px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(45deg);
            border-color: $light_white;
          }
        }
      }
      p {
        color: $grey;
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 7px;
      }
    }
  }
  hr {
    margin: 10px 0;
  }
  .container {
    padding: 10px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    .ingredient {
      padding: 5px;
      background-color: $light_blue;
      width: fit-content;
      height: fit-content;
      position: relative;
      cursor: pointer;
      @include flexCenter(row);
      border-radius: 3px;
      transition: 500ms;
      &:hover {
        transition: 500ms;
        background-color: $dark_green;
        label {
          color: $white_color;
        }
      }
      input {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      input:checked ~ label {
        color: $white_color;
      }
      label {
        cursor: pointer;
        color: $dark_blue;
        transition: 500ms;
      }
    }
  }
}
.receipt_box {
  background-color: $dark_blue;
  min-height: 120px;
  display: flex;
  gap: 10px;
  border-radius: 6px;
  overflow: hidden;
  .image {
    width: 170px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .information {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    h4 {
      font-size: 1.1rem;
      letter-spacing: 1px;
      color: $light_white;
      cursor: pointer;
      transition: 500ms;
      @media (max-width: 1100px) {
        font-size: 1rem;
      }

      &:hover {
        color: $extra_light_blue;
        transition: 500ms;
      }
    }
    p {
      font-size: 0.8rem;
      margin-top: 10px;
      color: $white_color;
      span {
        color: $light_blue;
        font-size: 0.9rem;
        font-weight: 700;
      }
    }
  }
  .actions {
    width: fit-content;
    display: flex;
    gap: 10px;
    padding: 5px;

    button {
      width: 17px;
      height: 17px;
      @include flexCenter(row);
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}
.side_receipts_box {
  min-height: 100vh;
  background-color: $dark_green;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width: 600px) {
    display: none;
  }
  .close {
    position: absolute;
    left: 15px;
    top: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    img {
      cursor: pointer;
    }
  }
  .image {
    height: 380px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .information {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    header {
      background-color: $dark_green;
      width: calc(100% - 30px);
      position: absolute;
      top: -50px;
      min-height: 100px;
      padding: 10px;
      box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.51);
      -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.51);
      -moz-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.51);
      border-radius: 4px;
      aside {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 1.2rem;
          font-weight: 700;
          color: $light_white;
          letter-spacing: 1px;
        }
        button {
          width: 20px;
          height: 20px;
          cursor: pointer;
          @include flexCenter(Row);
          background-color: transparent;
          border: none;
        }
      }
      hr {
        margin: 10px 0px;
      }
      .rew_time {
        display: flex;
        justify-content: space-between;
        .time {
          display: flex;
          gap: 5px;
          align-items: center;
          p {
            font-size: 0.8rem;
            color: $white_color;
            letter-spacing: 1px;
          }
        }
      }
    }
    main {
      margin-top: 50px;
      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        color: $light_white;
        letter-spacing: 1px;
      }
      ._ingredient {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 20px;
        p {
          font-size: 0.8rem;
          color: $white_color;
          letter-spacing: 1px;
        }
      }
    }
    .full_receipt {
      width: 100%;
      background-color: $dark_orange;
      height: 40px;
      margin-top: 20px;
      @include flexCenter(row);
      border-radius: 5px;
      text-decoration: none;
      color: $white_color;
      transition: 500ms;
      &:hover {
        background-color: $light_orange;
        color: $black_color;
        transition: 500ms;
      }
    }
  }
  .nutrition_facts {
    padding: 15px;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 1.3rem;
      font-weight: 700;
      color: $light_white;
      letter-spacing: 1px;
    }
    ._ingredient {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-top: 20px;
      p,
      span {
        font-size: 0.8rem;
        color: $white_color;
        letter-spacing: 2px;
        font-weight: 700;
      }
      span {
        color: $grey;
      }
    }
  }
}

.review_component {
  min-width: 75px;
  height: 15px;
  display: flex;
  .rating_amount {
    color: $white_color;
    font-size: 0.9rem;
    margin-left: 0.6em;
  }
}
.make_review {
  min-width: 75px;
  // height: 15px;
  header {
    color: $white_color;
    font-size: 0.9rem;
    margin-left: 0.6em;
    margin-bottom: 10px;
    cursor: pointer;
  }
  img {
    cursor: pointer;
  }
  main {
    height: 15px;
  }
}
.burger_menu {
  width: 70px;
  height: 70px;
  background-color: transparent;
  position: fixed;
  top: 120px;
  right: 30px;

  z-index: 50;
  @include flexCenter(row);
  @media (min-width: 700px) {
    display: none;
  }
  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    svg {
      width: 100%;
      height: 100%;
    }
    .line {
      fill: none;
      stroke: $dark_orange;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 10 207;
      stroke-width: 6;

      animation: line1 1s linear infinite;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
      animation: line2 1s linear infinite;
    }
    .line3 {
      stroke-dasharray: 30 207;
      stroke-width: 6;
      animation: line3 1s linear infinite;
    }
    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }

    @keyframes line1 {
      50% {
        stroke-dasharray: 60 207;
      }
      to {
        stroke-dasharray: 10 207;
      }
    }
    @keyframes line2 {
      50% {
        stroke-dasharray: 20 60;
      }
      to {
        stroke-dasharray: 60 60;
      }
    }
    @keyframes line3 {
      50% {
        stroke-dasharray: 60 207;
      }
      to {
        stroke-dasharray: 30 207;
      }
    }
  }
}

.comment_section {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  h2 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: $light_white;
  }
  hr {
    width: 100% !important;
  }
  .main_form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
    textarea {
      outline: none;
      padding: 20px;
      resize: none;
      min-height: 120px;
      width: 100%;
      background-color: transparent;
      border-radius: 10px;
      transition: 500ms;
      color: $white_color;

      &:focus {
        border-color: $light_orange;
        transition: 500ms;
      }
    }
    button {
      padding: 10px 40px;
      width: fit-content;
      cursor: pointer;
      align-self: flex-end;
      color: $white_color;
      transition: 500ms;
      background-color: transparent;
      border: 1px solid $white_color;
      border-radius: 10px;

      &:hover {
        border-color: $light_orange;
        transition: 500ms;
        color: $dark_orange;
      }
    }
  }
  .sorting {
    padding: 20px;
    select {
      float: right;
      padding: 5px 10px;
      cursor: pointer;
      background-color: transparent;
      color: $white_color;
      border-radius: 7px;
      outline: none;
      option {
        background: $black_color;
      }
    }
  }
  aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    ._box {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $grey;
      padding-bottom: 10px;
      .user {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px 20px;

        img {
          border-radius: 50%;
          overflow: hidden;
          object-fit: contain;
          object-position: center;
        }
        a {
          text-decoration: none;
          font-size: 1.1rem;
          transition: 500ms;
          letter-spacing: 2px;
          color: $light_white;
          &:hover {
            transition: 500ms;
            color: $light_orange;
          }
        }
      }
      .date {
        padding: 5px 20px;
        p {
          font-size: 0.8rem;
          letter-spacing: 1px;
          color: $grey;
        }
      }
      .text {
        padding: 5px 20px;
        margin-top: 10px;
        color: $white_color;
        p {
          font-size: 0.9rem;
          letter-spacing: 1px;
        }
      }
      .actions {
        padding: 5px 20px;
        display: flex;
        gap: 10px;
        img {
          cursor: pointer;
        }
        p {
          font-size: 0.9rem;
          letter-spacing: 1px;
          color: $dark_Red;
        }
      }
    }
  }
}
.p_white {
  color: $dark_Red;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.zero_info {
  @include flexCenter(column);
  width: fit-content;
  margin: 0 auto;
  p {
    color: $dark_Red;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
}
.animated_input {
  width: 100%;
  // background-color: lawngreen;
  position: relative;
  height: 40px;

  input {
    height: 100%;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid $light_orange;
    padding: 0 10px;
    color: $white_color;
    letter-spacing: 1px;
  }
  input:focus ~ label {
    top: -10px;
    transition: 500ms;
  }
  input:not(:placeholder-shown) ~ label {
    top: -10px;
    transition: 500ms;
  }
  label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 500ms;
    color: $grey;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}
.auth_button {
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid $grey;
  cursor: pointer;
  color: $white_color;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
  transition: 500ms;

  &::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #ffffff2c;
    top: 0;
    left: -50%;
    transition: 500ms;
  }
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -50%;
    background-color: #ffffff2c;
    transition: 500ms;
  }
  &:hover {
    &::after {
      transition: 500ms;
      right: 0;
    }
    &::before {
      transition: 500ms;
      left: 0;
    }
    transition: 500ms;
    color: $dark_blue_bg;
    border: 1px solid transparent;
  }
}
.popup_middle {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @include flexCenter(row);
  .text_cont {
    width: 300px;
    height: max-content;
    background-color: $dark_green;
    @include flexCenter(column);
    border-radius: 15px;
    overflow: hidden;
    padding: 1em;
    div {
      width: 100%;
      min-height: 4rem;
      background-color: transparent;
      text-align: center;
      color: $white_color;
    }
    button {
      width: 150px;
      height: 30px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: transparent;
      color: $dark_Red;
      transition: 500ms;
      border: 1px solid $dark_orange;
      cursor: pointer;
      &:hover {
        color: $dark_orange;
        border: 1px solid $dark_Red;
      }
    }
  }
}
.loader_container {
  background-color: rgba(0, 0, 0, 0.801);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader_container_100 {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.add_to_favorite {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 20px;
  p {
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 500ms;
    color: $grey;
    @media (max-width: 750px) {
      font-size: 0.8rem;
    }
    &:hover {
      transition: 500ms;
      text-decoration: underline;
      color: $extra_light_blue;
    }
  }
  .active {
    color: $dark_Red;
    &:hover {
      text-decoration: line-through;
      color: $dark_Red;
    }
  }
}
.coffee_container {
  width: 300px;
  height: 280px;
  position: relative;
  // top: calc(50% - 140px);
  // left: calc(50% - 150px);
  transform: scale(0.7);
  .coffee-header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddcfcc;
    border-radius: 10px;
  }
  .coffee-header__buttons {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    background-color: #282323;
    border-radius: 50%;
  }
  .coffee-header__buttons::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 4px);
    background-color: #615e5e;
  }
  .coffee-header__button-one {
    left: 15px;
  }
  .coffee-header__button-two {
    left: 50px;
  }
  .coffee-header__display {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    background-color: #9acfc5;
    border: 5px solid #43beae;
    box-sizing: border-box;
  }
  .coffee-header__details {
    width: 8px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9b9091;
    box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
  }
  .coffee-medium {
    width: 90%;
    height: 160px;
    position: absolute;
    top: 80px;
    left: calc(50% - 45%);
    background-color: #bcb0af;
  }
  .coffee-medium:before {
    content: "";
    width: 90%;
    height: 100px;
    background-color: #776f6e;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45%);
    border-radius: 20px 20px 0 0;
  }
  .coffe-medium__exit {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    background-color: #231f20;
  }
  .coffe-medium__exit::before {
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 25px);
    background-color: #231f20;
  }
  .coffe-medium__exit::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 5px);
    background-color: #231f20;
  }
  .coffee-medium__arm {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #231f20;
  }
  .coffee-medium__arm::before {
    content: "";
    width: 15px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #9e9495;
  }
  .coffee-medium__cup {
    width: 80px;
    height: 47px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 40px);
    background-color: #fff;
    border-radius: 0 0 70px 70px / 0 0 110px 110px;
  }
  .coffee-medium__cup::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: -13px;
    border: 5px solid #fff;
    border-radius: 50%;
  }
  @keyframes liquid {
    0% {
      height: 0px;
      opacity: 1;
    }
    5% {
      height: 0px;
      opacity: 1;
    }
    20% {
      height: 62px;
      opacity: 1;
    }
    95% {
      height: 62px;
      opacity: 1;
    }
    100% {
      height: 62px;
      opacity: 0;
    }
  }
  .coffee-medium__liquid {
    width: 6px;
    height: 63px;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: calc(50% - 3px);
    background-color: #74372b;
    animation: liquid 4s 4s linear infinite;
  }
  .coffee-medium__smoke {
    width: 8px;
    height: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #b3aeae;
  }
  @keyframes smokeOne {
    0% {
      bottom: 20px;
      opacity: 0;
    }
    40% {
      bottom: 50px;
      opacity: 0.5;
    }
    80% {
      bottom: 80px;
      opacity: 0.3;
    }
    100% {
      bottom: 80px;
      opacity: 0;
    }
  }
  @keyframes smokeTwo {
    0% {
      bottom: 40px;
      opacity: 0;
    }
    40% {
      bottom: 70px;
      opacity: 0.5;
    }
    80% {
      bottom: 80px;
      opacity: 0.3;
    }
    100% {
      bottom: 80px;
      opacity: 0;
    }
  }
  .coffee-medium__smoke-one {
    opacity: 0;
    bottom: 50px;
    left: 102px;
    animation: smokeOne 3s 4s linear infinite;
  }
  .coffee-medium__smoke-two {
    opacity: 0;
    bottom: 70px;
    left: 118px;
    animation: smokeTwo 3s 5s linear infinite;
  }
  .coffee-medium__smoke-three {
    opacity: 0;
    bottom: 65px;
    right: 118px;
    animation: smokeTwo 3s 6s linear infinite;
  }
  .coffee-medium__smoke-for {
    opacity: 0;
    bottom: 50px;
    right: 102px;
    animation: smokeOne 3s 5s linear infinite;
  }
  .coffee-footer {
    width: 95%;
    height: 15px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 47.5%);
    background-color: #41bdad;
    border-radius: 10px;
  }
  .coffee-footer::after {
    content: "";
    width: 106%;
    height: 26px;
    position: absolute;
    bottom: -25px;
    left: -8px;
    background-color: #000;
  }
}
.search_product_result {
  min-height: 50px;
  background-color: #e639471a;
  display: flex;
  gap: 10px;
  overflow: hidden;
  text-decoration: none;
  border-radius: 5px;
  transition: 500ms;
  &:hover {
    transition: 500ms;
    background-color: $dark_Red;
  }

  .image {
    aspect-ratio: 1/1;
    height: 100%;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  .title {
    max-width: 300px;
    @include flexCenter(row);
    text-align: center;
    p {
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $white_color;
    }
  }
}
.doughnut {
  @include flexCenter(row);
  height: 300px;
}
.classified_products {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 10px;
  header {
    h2 {
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: 900;
      color: $light_white;
    }
  }
  main {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #78000027;
    border-radius: 10px;
    padding: 10px;
    .box {
      min-height: 100px;
      display: flex;
      gap: 20px;
      max-width: 700px;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $error_red;
      transition: 500ms;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        transition: 500ms;
        border: 1px solid transparent;
        background-color: $error_red;
      }
      .image {
        height: 100%;
        aspect-ratio: 1/1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
        }
      }
      article {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3 {
          font-size: 1rem;
          letter-spacing: 1px;
          color: $light_white;
        }
        p {
          font-size: 0.8rem;
          letter-spacing: 1px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: $white_color;
        }
        span {
          justify-self: end;
          font-size: 0.8rem;
          letter-spacing: 1px;
          color: $light_blue;
          font-weight: 700;
        }
      }
    }
  }
}
.the_most_recipes {
  min-height: 100px;
  position: sticky;
  top: 0;
  header {
    h2 {
      font-size: 0.9rem;
      font-weight: 900;
      letter-spacing: 1px;
      color: $light_white;
    }
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px 5px;
    .box {
      display: flex;
      flex-direction: column;
      padding: 5px;
      border: 1px solid $light_white;
      cursor: pointer;
      border-radius: 6px;
      transition: 500ms;
      text-decoration: none;
      &:hover {
        transition: 500ms;
        border: 1px solid $light_orange;
      }
      .image {
        width: 100%;
        aspect-ratio: 1/0.7;
        background-color: grey;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .title {
      margin-top: 5px;
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 0.7rem;
        color: $white_color;
        @media (max-width: 850px) {
          font-size: 0.6rem;
        }
      }
    }
    .date {
      p {
        font-size: 0.7rem;
        color: $light_blue;
        margin-top: 10px;
      }
    }
  }
}
._wrapper {
  width: 100%;
  position: absolute;
  border-radius: 7px;
  z-index: 20;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.418);
  transition: 500ms;
  border: 1px solid black;
  &:hover {
    background-color: rgba(0, 0, 0, 0.836);
    transition: 500ms;
  }
}
.recipe_container_square {
  text-decoration: none;
  // max-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid $light_orange;
  padding: 5px;
  border-radius: 5px;
  transition: 500ms;
  &:hover {
    transition: 500ms;
    border: 1px solid $error_red;
  }
  .image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .title {
    text-align: center;
    p {
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $white_color;
    }
  }
  .otherInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    div {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: $white_color;
        &:last-child {
          color: $light_blue;
          font-weight: 700;
        }
      }
    }
  }
}
.loading_center {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000060;
  @include flexCenter(row);
}
.table_for_admin {
  width: 100%;
  border-collapse: collapse;
  th {
    color: $white_color;
    letter-spacing: 1px;
    background-color: $dark_blue_bg;
    word-wrap: break-word;
    word-break: break-all;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
  }
  tr:nth-child(even) {
    background-color: cadetblue;
    color: $black_color;
  }
  tr:nth-child(odd) {
    color: $white_color;
  }
  a {
    color: $light_blue;
    font-size: 700;
    letter-spacing: 1px;
    // text-decoration: none;
    transition: color 500ms;
    &:hover {
      transition: 500ms;
      color: $light_Red;
    }
  }
  .actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    button {
      width: 100px;
      margin: 0 auto;
      padding: 5px 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      letter-spacing: 1px;
    }
    .delete {
      background-color: $dark_Red;
      color: $white_color;
      transition: background-color 500ms;
      &:hover {
        transition: 500ms;
        background-color: $error_red;
      }
    }
    .change {
      background-color: $dark_orange;
      color: $white_color;
      transition: background-color 500ms;
      &:hover {
        transition: 500ms;
        background-color: $light_orange;
      }
    }
  }
}
.popup_form {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  @include flexCenter(column);
  .close_button {
    margin-bottom: 30px;
    padding: 7px 40px;
    background-color: $dark_Red;
    border: 1px solid transparent;
    border-radius: 6px;
    color: $white_color;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color 500ms;

    &:hover {
      background-color: $light_Red;
      transition: 500ms;
    }
  }
  form {
    background-color: $dark_blue_bg;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 550px) {
      width: 85vw;
    }
    input,
    select {
      width: 400px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 1px solid $light_orange;
      background-color: transparent;
      padding: 10px;
      color: $white_color;
      letter-spacing: 1px;
      @media (max-width: 550px) {
        width: 100%;
      }
    }
    select {
      background-color: $dark_blue_bg;
    }
    button {
      width: fit-content;
      padding: 7px 40px;
      margin: 0 auto;
      background-color: $light_orange;
      border: none;
      cursor: pointer;
      border-radius: 100px;
      color: $dark_blue;
      letter-spacing: 1px;
      font-weight: 700;
      transition: background-color 500ms;
      &:hover {
        background-color: $dark_orange;
        transition: 500ms;
      }
    }
  }
}
.search_ {
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    input {
      width: 250px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 1px solid $light_orange;
      background-color: transparent;
      padding: 10px;
      color: $white_color;
      letter-spacing: 1px;
      @media (max-width: 400px) {
        width: 80%;
      }
    }
    button {
      width: fit-content;
      padding: 7px 40px;
      background-color: $light_orange;
      border: none;
      cursor: pointer;
      border-radius: 100px;
      color: $dark_blue;
      letter-spacing: 1px;
      font-weight: 700;
      transition: background-color 500ms;
      &:hover {
        background-color: $dark_orange;
        transition: 500ms;
      }
    }
  }
}
