.main_layout {
  min-height: 100vh;
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 4fr;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
.main_sidebar {
  min-width: 260px;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: sticky;
  top: 0;
  @media (max-width: 700px) {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 4;
  }

  .sidebar_navigation {
    min-height: 100px;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: $light_blue;

    .filter {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: overlay;
      }
    }
    h1 {
      @include font_noto;
      color: $light_white;
      position: relative;
      font-size: 1.3rem;
    }
    .sidebar_search_form {
      height: 40px;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 5px;
      input {
        width: 100%;
        height: 100%;
        outline: none;
        background-color: rgba(0, 0, 0, 0.522);
        border: 1px solid $white_color;
        border-radius: 6px;
        padding-left: 35px;
        @include font_noto;
        letter-spacing: 1.5px;
        color: $white_color;
        &::placeholder {
          color: $white_color;
          opacity: 0.6;
        }

        &:-ms-input-placeholder {
          color: $white_color;
        }

        &::-ms-input-placeholder {
          color: $white_color;
        }
      }
      button {
        width: 20px;
        height: 20px;
        border: none;
        padding: 0;
        cursor: pointer;
        position: absolute;
        left: 10px;
        background: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .ingredients {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $dark_green;
  }
}
