.user_dashboard {
  min-height: 100vh;
  background-color: $dashboard_main_color_blue;
  display: flex;
  gap: 10px;
  .dashboard_content {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .dashboard_header {
      min-height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      h1 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        color: $white_color;
      }
      .avatar {
        width: 40px;
        height: 40px;
        cursor: pointer;
        // @media (max-width: 450px) {
        //   display: none;
        // }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.dashboard_overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  a {
    padding: 30px;
    background-color: $dark_orange;
    height: fit-content;
    width: fit-content;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
    border-radius: 20px;
    transition: 500ms;
    border: 1px solid transparent;
    @media (max-width: 750px) {
      padding: 20px;
      max-width: 90%;
    }
    &:hover {
      transition: 500ms;
      background-color: transparent;
      border-color: $dark_orange;
    }

    .info {
      h2 {
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 1.4rem;
        color: $light_white;
      }
      h4 {
        margin-top: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 0.9rem;
        color: $white_color;
      }
    }
    .image {
      width: 90px;
      height: 100%;

      img {
        width: auto;
        height: auto;
        object-fit: contain;
        object-position: center;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .about_recipes {
    min-height: 500px;
    margin-top: 50px;
  }
}
.dashboard_favorites {
  margin-top: 50px;
  min-height: 200px;
  padding: 5px;
  h2 {
    color: $light_blue;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .recipe_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    gap: 20px;
  }
}
.dashboard_my_recipes {
  min-height: 500px;
  margin-top: 50px;
  .recipe_container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    gap: 20px;
  }

  .recipe_detailed {
    min-height: 100px;
    margin-top: 100px;
    border: 1px solid $light_Red;
    background-color: $black_bg_light;
    padding: 5px;
    border-radius: 10px;
    h2 {
      font-size: 1.2rem;
      letter-spacing: 1.5px;
      color: $light_white;
    }
    .detailed_container {
      margin-top: 50px;
      min-height: 100px;
      
    }
  }
}
