$black_color: #0a0908;
$white_color: #f4f4f6;
$light_white: #e6e6e9;
$grey: #dad7cd;

$dark_green: #344e41;
$light_blue: #0a9396;
$extra_light_blue: #94d2bd;
$dark_blue: #14213d;
$dark_blue_bg: #0f172a;

$black_bg_light: #00000013;

$dark_orange: #fb8500;
$light_orange: #ffb703;

$light_Red: #e76f51;
$dark_Red: #e63946;
$error_red: #780000;

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin font_noto {
  font-family: var(--font-georgia);
}
@mixin backgroundFixed($url) {
  background: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black_color;
  @include font_noto;
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include font_noto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
}
